{# templates/message.txt #}

# {{ workout_title }}
## {{ workout_date }}

![image text]({{ workout_image }})

### Totals

Total distance: {{ workout_distance }}
Total Calories: {{ workout_calories }}
Total Output: {{ workout_total_outpus }}


### Averages

Average Output: {{ workout_average_output }}
Average Heart Rate: {{ workout_average_heart_rate }}

